body {
	background: #eee;
	font-family: sans-serif;
}
*::selection {
    background:transparent;
}
.widget {
	padding: 14px;
	border-radius: 14px;
	background: #888;
	box-shadow:-7px -7px 7px 0 #444 inset, 7px 7px 7px 0 #ccc inset;
	width: 322px;
	margin: 35px;
	float: left;
}
.widget > canvas {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #222;
}
.widget > .caption {
	font-weight: bold;
	font-style: italic;
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 16px;
	color: #444;
	text-shadow: 1px 1px #bbb;
}
.widget > .led {
	width: 12px;
	height: 12px;
	float: right;
	border-radius: 6px;
	margin-top: 3px;
}
.widget > .on {
	background: #d00;
	box-shadow: -3px -3px 3px 0 #b00 inset, 3px 3px 3px 0 #f00 inset, 0 0 5px 2px #f00;
}
.widget > .off {
	background: #800;
	box-shadow: -3px -3px 3px 0 #600 inset, 3px 3px 3px 0 #a00 inset;
}
.container {
	width: 1720px;
	margin: 0 auto 30px auto;
}
.clear {
	clear: both;
}
.note {
	text-align: center;
	font-size: 14px;
	padding-top: 2em;
}
